<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
<p>{{ post.created_at }}</p>
<p>{{ post.content }}</p>

<h3>Comments:</h3>
{% for comment in comments %}
    <strong>{{ comment.author_name }}</strong>: {{ comment.comment }} <br>
    <hr>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

<h3>Leave a Comment:</h3>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    <button type="submit">Post Comment</button>
</form>


<a href="{% url 'post_view' %}">Back to Posts</a>

</body>
</html>